.search_parentdiv {
    display:flex;
    flex-direction: row;
    border:1px solid #D7DFE9;
    max-width:55%;
    margin: 2rem 0;
    height:40px;
    align-items: center;
    border-radius: 5%;
}

@media only screen and (max-width: 768px) {
    .search_parentdiv {
        max-width:100%;
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
    .search_parentdiv {
        max-width:100%;
    }
}

.search_input {
    border:none;
    width:100%;
    height:38px;
    outline: none;
}

.search_icondiv {
    margin : 0 1rem;
}



